* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(106, 73, 196);
}

#container {
  max-width: 80%;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f8ff;
}

input {
  padding: 15px;
  border: 1px solid rgb(165, 165, 165);
  outline: none;
}

button {
  border: none;
  background-color: rgb(106, 73, 196);
  color: white;
  cursor: pointer;
}

input, button {
  border-radius: 5px;
  font-size: 20px;
  height: 55px;
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 21px;
}

p {
  color: rgb(105, 105, 105);
  font-size: 16px;
}

#im {
  border: 1px solid rgb(106, 73, 196);
  padding: 20px;
  display: none;
  text-align: center;
}

img {
  max-width: 100%;
}

.ancoraDeDownload {
  display: none;
}

.downloadButton {
  border-radius: 5px;
  display: none;
  cursor: pointer;
  height: 40px;
  text-align: center;
  background-color: rgb(106, 73, 196);
}

.downloadButton p {
  color: white;
  margin-top: 8px;
}

.downloadButton:hover {
  background-color: rgb(106, 73, 196);
}
